@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CRighteous');

body {
  background: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/assortment-of-colorful-ripe-tropical-fruits-top-royalty-free-image-995518546-1564092355.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: rgb(239, 168, 75);
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(182, 194, 72);
  font-size: 1.5em;
  background: rgba(130, 213, 113, 0.9);
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: rgb(123, 151, 32);
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: rgb(74, 227, 74);
  background: mediumseagreen;
  font-size: 1em;
  border-radius: 10%;
}